<div class="container"> 
  <div class="text-center"> 
    <h2>New Album</h2>
  </div>  
  <div class="float-right">
    <%= link_to 'Albums', albums_path %>
  </div>
  <%= render 'form', album: @album %>
</div>